<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' *; img-src 'self' *;  script-src 'self' 'unsafe-inline' * ; style-src 'unsafe-inline' * 'self' ;">
    -->
    <header http-equiv="Content-Security-Policy" content=" frame-ancestors 'self' *.mercadolibre.com *.mercadopago.com">

    </header>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Pet Store</title>
    <span th:insert="fragments.html :: cssLinks"></span>

</head>

<body>
    <span th:replace="fragments.html :: navBar"></span>

    <div class="staff-container">
        
        <div class="team-one-staff px-4">
            <h3 class="pt-3">This awesome website was made width effort and a bunch of cool guys:</h3>
            <h4>Our Story:</h4>
            <p>In 2013, the founder of Purrpy came to South China to create a factory with an ambition to create a unique pet brand.

                In the next four years, the team made many efforts and attempts to realize this idea. Though some achievements have been made, they never created an independent brand. Therefore, the team decided to abandon the previous products and create a brand development team in 2017. From that moment on, the story of Purrpy started...</p>
            <h4>Our mission:</h4>
            <p>The Pingyang Industrial Cluster was officially launched on October 22, 2015, and there are currently 1993 merchants settled in. At present, we divide the Pingyang industry into eight categories, namely pet products, leather goods, business gifts, trendy clothing, mechanical parts, fashion home furnishings, packaging industry, and light industry.
 
                Industrial clusters are government projects and are freely open to eligible enterprises that settle in. Operators connect with Alibaba, and open up online sales for the products of settled companies through diversion of traffic and Alibaba's activity resources.
                 
                Pingyang Industrial Cluster also continues to conduct some online or offline store assistant operation training activities to help merchants better operate their own store assistants, guide or answer the problems encountered in store assistant operations.</p>
            <h4>Our goals:</h4>
            <p>The main goal of the Pingyang Industrial Cluster Operation Center is to sell Pingyang's superior products through the Internet, and to improve the e-commerce capabilities of Pingyang's superior industrial enterprises.
 
                In January 2016, with the approval of the People's Government of Zhejiang Province, Pingyang Pet Town was listed as the second batch of characteristic towns in Zhejiang Province. Pingyang Pet Xiaoniao is located in Xixin Peninsula, Shuitou Town, Pingyang County, with a total area of 3.3 square kilometers and a total investment of 5.22 billion yuan.</p>
        </div>
        <div class="nerd-dog">
            <img src="/img/about-dogs.jpg">
            <img src="/img/dog-blue.jpg" alt="">
            <img src="/img/dog-green.jpg" alt="">
        </div>
    </div>
    
    
    <th:block th:replace="fragments :: modalProduct">modal</th:block>

    <th:block th:replace="fragments :: shoppingCart">modal</th:block>

    <th:block th:replace="fragments :: paymentMethods">modal</th:block>

    <th:block th:replace="fragments :: user-sing-up">modal</th:block>

    <th:block th:replace="fragments :: user-login">modal</th:block>

    <!-- Footer-->
    <footer>
        <span th:insert="fragments.html :: footer"></span>
    </footer>
    <!-- Core theme JS-->

</body>

<script src="/js/jquery-3.6.0.js" th:inline="javascript"></script>
<script src="/js/index.js" th:inline="javascript">
</script>
<script src="/js/userForm.js"></script>

<script src="https://sdk.mercadopago.com/js/v2"></script>



</html>